:host {
  .btn {
    &:hover {
      cursor: pointer;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto, sans-serif;
    padding: 12px 30px;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px solid #929292;
    background: white;
    color: #929292;

  }

  &.primary {
    .btn {
      border: 1px solid #2BAE6D;
      background: #2BAE6D;
      color: white;

      &:disabled {
        border: 1px solid #c9c9c9;
        background: #c9c9c9;
      }
    }
  }

}


