:host {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  width: 100%;

  select {
    margin: 0 4px;
  }

  .paginator-info {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .paginator-item {
    display: flex;
    align-self: center;

    &:first-child, &:last-child {
      width: 150px;
    }

    &:first-child{
      justify-content: start;
    }
    &:last-child{
      justify-content: end;
    }
  }

  .paginator-page-buttons {
    margin: 0 40px;
    display: flex;
    align-items: center;
    .paginator-btn {
      user-select: none;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: none;
      margin: 0 4px;
      background-color: transparent;

      &.active {
        background: #007AF9;
        color: white;
        &:hover {
          background: #007AF9;
          color: white;
        }
      }
      &.prev, &.next {
        background: url("../../../../assets/icons/arrow/arrow.svg");
        background-position: center;
        background-repeat: no-repeat;
      }
      &.prev {
        transform: rotate(180deg);
      }
      &.next {}
      &:hover {
        cursor: pointer;
        background-color: rgba(0, 122, 249, 0.06);
      }
    }

    .dots {
      user-select: none;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      margin: 0 4px;
    }
  }

  label {
    height: 30px;
    display: flex;
    align-items: center;
    align-self: center;
    select {
      height: 100%;
    }
  }
}
