<div class="paginator-item">
  <div class="paginator-info">
    Page
    <label for="paginator-pages">
      <select [formControl]="page" name="paginator-pages" id="paginator-pages">
        <option [ngValue]="option" *ngFor="let option of pagesArray.slice().reverse()">{{option + 1}}</option>
      </select>
    </label>
    of {{pages}}
  </div>
</div>


<div class="paginator-item">
  <div class="paginator-page-buttons">
    <button class="paginator-btn prev" [disabled]="0 === pageIndex" (click)="goToPrevPage()"></button>

    <ng-container
      *ngFor="let i of pagesArray | paginationButton: pageIndex: 1"
    >
      <ng-container *ngIf="i !== null; else dots">
        <button class="paginator-btn" [class.active]="i === pageIndex" (click)="goToPageByIndex(i)">{{i + 1}}</button>
      </ng-container>
      <ng-template #dots>
        <span class="dots">...</span>
      </ng-template>
    </ng-container>

    <button class="paginator-btn next" [disabled]="pagesArray.length - 1 === pageIndex" (click)="goToNextPage()"></button>
  </div>
</div>

<div class="paginator-item">
  <label for="paginator-size-option">
    Items per page:
    <select [formControl]="size" name="paginator-size-option" id="paginator-size-option">
      <option [ngValue]="option" *ngFor="let option of pageSizeOptions.slice().reverse()">{{option}}</option>
    </select>
  </label>
</div>
