@import "src/styles/variables.scss";

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.table {
  width: 100%;
  height: 100%;

  .body {
    height: calc(100% - 24px);
    overflow: auto;
  }

  .header-row,.body-row {
    display: flex;
    width: 100%;
  }
  .header-cell,.data-cell {
    flex: 1 100%;
  }

  .header {
    margin-bottom: 10px;
  }
  .body-row {
    background: white;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: $boxShadow;
    cursor: pointer;
  }
  .data-cell {
    height: 70px;
    font-size: 20px;
    display: flex;
    align-items: center;
    word-break: break-all;
    color: #797979;
    & > .color {
      margin-left: 12px;
      border-radius: 4px;
      width: 32px;
      height: 32px;
    }
  }

  .header-cell {
    height: 16px;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
  }
}
