<div class="table">

  <div class="header">
    <div class="header-row">
      <div [ngStyle]="{'minWidth.px': getMinWidth()}" class="header-cell th-td th-td_{{i}}" *ngFor="let header of headers; let i = index">{{header.header_name}}</div>
    </div>
  </div>

  <div class="body">
    <div [routerLink]="[item.id]" class="body-row" *ngFor="let item of itemList">
      <div [ngStyle]="{'minWidth.px': getMinWidth()}" class="data-cell th-td th-td_{{i}}" *ngFor="let header of headers; let i = index">
        <ng-container [ngSwitch]="header.prop_name">
          <ng-container
            *ngSwitchCase="'color'"
            [ngTemplateOutlet]="color"
            [ngTemplateOutletContext]="{prop_value: item[header.prop_name]}"
          ></ng-container>
          <ng-container
            *ngSwitchCase="'name'"
            [ngTemplateOutlet]="name"
            [ngTemplateOutletContext]="{prop_value: item[header.prop_name]}"
          ></ng-container>
          <ng-container
            *ngSwitchCase="'create_date'"
            [ngTemplateOutlet]="create_date"
            [ngTemplateOutletContext]="{prop_value: item[header.prop_name]}"
          ></ng-container>
          <ng-container
            *ngSwitchCase="'last_update'"
            [ngTemplateOutlet]="last_update"
            [ngTemplateOutletContext]="{prop_value: item[header.prop_name]}"
          ></ng-container>
          <ng-container
            *ngSwitchCase="'created_by'"
            [ngTemplateOutlet]="created_by"
            [ngTemplateOutletContext]="{prop_value: item[header.prop_name]}"
          ></ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-content></ng-content>

<ng-template #color let-prop_value=prop_value>
  <div class="color" [ngStyle]="{'background': prop_value}"></div>
</ng-template>
<ng-template #name let-prop_value=prop_value>
  {{prop_value}}
</ng-template>
<ng-template #create_date let-prop_value=prop_value>
  {{prop_value | date: 'dd/MM/YYYY'}}
</ng-template>
<ng-template #last_update let-prop_value=prop_value>
  {{prop_value | date: 'dd/MM/YYYY'}}
</ng-template>
<ng-template #created_by let-prop_value=prop_value>
  {{prop_value}}
</ng-template>
