
<label class="{{id}}" for="{{id}}">
  <div class="label-text">{{label}}</div>
  <textarea [ngStyle]="{resize: resize ? '' : 'none'}" [placeholder]="placeholder" [formControl]="control" id="{{id}}" name="{{id}}" rows="0" cols="0"></textarea>
</label>
