:host {
  display: flex;
  width: 100%;
}

label {
  width: 100%;
  .label-text {
    font-size: 18px;
    font-weight: bold;
  }
}


textarea {
  height: 130px;
  width: 100%;
  outline: none;
  border: 1px solid transparent;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 6px;
  padding: 10px;
  &::placeholder{
    font-style: italic;
  }
  &:hover {
    outline: 0 solid transparent;
  }
  &:focus-visible {
    outline: 0 solid transparent;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px rgb(0 0 0 / 0%) inset !important;
    -webkit-text-fill-color: inherit !important;
    -webkit-transition: background-color 600000s 0s, color 600000s 0s;
    transition: background-color 600000s 0s, color 600000s 0s;
    //border-width: 1px !important;
    border-width: 1px !important;
    border-radius: 4px;
  }
}
