<div class="overlay" (click)="close($event)">
</div>
<div class="content">
  <div class="close" (click)="close($event)"></div>
  <div class="header">
    {{item.id || item.id === 0 ? 'Edit' : 'Create new'}}
  </div>
  <div class="form" [formGroup]="itemForm">
    <div class="form-line">
      <app-input [id]="'name'" [isRequired]="true" [label]="'Name'" [placeholder]="'Type tag name...' " [control]="getFormControlByName('name')"></app-input>
      <app-color-picker [color]="item.color" (selectedColor)="setColor($event)" [label]="'Color'"></app-color-picker>
    </div>
    <div class="form-line">
      <app-textarea
        [id]="'description'"
        [label]="'Tag Description'"
        [placeholder]="'Type tag description...' "
        [control]="getFormControlByName('description')"
        [resize]="false"
      ></app-textarea>
    </div>
  </div>
  <div class="actions">
    <app-button (clickEvent)="close($event)"><div class="icon save"></div>cancel</app-button>
    <app-button [disabled]="getFormControlByName('name').invalid" class="primary" (clickEvent)="save($event)">save</app-button>
  </div>
</div>

