@import "src/styles/variables.scss";

:host {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
}
.overlay {
  width: 100vw;
  height: 100vh;
}
.content {
  box-shadow: $boxShadow;
  padding: 48px 75px 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  background: #F8F8F8;
  width: 100%;
  max-width: 767px;
  .close {
    position: absolute;
    height: 24px;
    width: 24px;
    top: 20px;
    right: 20px;
    background: url("./../../../../assets/icons/x/x.svg");
    background-repeat: no-repeat;
    background-position: center;
    &:hover {
      cursor: pointer;
    }
  }
  .header {
    min-height: 28px;
    margin-bottom: 40px;
    font-size: 20px;
    color: #0e4f6e;
  }
  .form {
    height: 100%;
    display: flex;
    flex-direction: column;
    .form-line {
      display: flex;
      margin-bottom: 33px;
      width: 100%;

      app-input {
        margin-right: 20px;
      }
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;
  }
}

.icon {
  margin-right: 10px;
  height: 14px;
  width: 14px;
  &.save {
    background: url("./../../../../assets/icons/x/x.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

