@import "src/styles/variables.scss";

:host {
  height: 100%;
  overflow: auto;
  display: block;
}

.grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(204px, 1fr));
  grid-gap: 20px;
}

.card {
  box-shadow: $boxShadow;
  height: 209px;
  cursor: pointer;
  .header {
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFDFD;
    .color {
      width: 100px;
      height: 100px;
      border-radius: 9px;
    }
  }
  .body {
    background: #F6F6F6;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    .name {
      color: rgb(139,139,139);
    }
  }
}
