<div class="grid">
  <div class="grid-item" [routerLink]="[item.id]" *ngFor="let item of itemList">
    <div class="card">
      <div class="header">
        <div class="color" [ngStyle]="{'background': item.color}"></div>
      </div>
      <div class="body">
        <div class="name">
          {{item.name}}
        </div>
      </div>
    </div>
  </div>
</div>
