@import "src/styles/variables.scss";

:host {
  display: flex;
  width: 100%;
  height: 42px;
}

label {
  width: 100%;
  position: relative;
  height: inherit;
  .label-text {
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: -27px;
    .required {
      color: red;
    }
  }
  input {
    border: none;
    color: #000000;
    height: inherit;
    width: 100%;
    box-shadow: $boxShadow;
    padding: 0 10px;
    border-radius: 8px;
    &::placeholder {
      color: #000000;
      font-style: italic;
    }
  }
}
input {
  outline: none;
  border: 1px solid;
  &:hover {
    outline: 0 solid transparent;
  }
  &:focus-visible {
    outline: 0 solid transparent;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(0 0 0 / 0%) inset !important;
  -webkit-text-fill-color: inherit !important;
  -webkit-transition: background-color 600000s 0s, color 600000s 0s;
  transition: background-color 600000s 0s, color 600000s 0s;
  //border-width: 1px !important;
  border-width: 1px !important;
  border-radius: 4px;
}
