<label class="{{id}}" for="{{id}}">
  <div class="label-text">{{label}} <span *ngIf="isRequired" class="required">*</span> </div>
  <input placeholder="{{placeholder}}" id="{{id}}" [formControl]="control" type="text">
</label>
