<div class="label">{{label}}</div>
<div class="color-select" (click)="toggleSelectMenu()">
  <div class="color-select-menu">
    <div class="color-select-selected" [ngStyle]="{'background': color}"></div>
    <div class="color-select-status" [class.opened]="isShowMenu"></div>
  </div>
</div>
<div class="color-list" *ngIf="isShowMenu">
  <div class="list-area">
    <div class="pallet-list" *ngFor="let pallet of pallets">
      <div
        class="color-box"
        (click)="setColor(e[1])"
        [class.selected]="e[1] === color"
        [ngStyle]="{
          'background': e[1],
          'minHeight.px': colorBoxHeight
        }"
        *ngFor="let e of pallet"
      ></div>
    </div>
  </div>
</div>

