@import "src/styles/variables.scss";

:host {
  position: relative;
}

.label {
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top: -27px;
}

.color-select {
  position: relative;
  width: 68px;
  height: 40px;
  display: flex;
  align-items: center;
  box-shadow: $boxShadow;
  border-radius: 6px;
}

.color-select-menu {
  z-index: 1;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 4px;
  cursor: pointer;
}

.color-select-status {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  user-select: none;
  background: url("../../../../assets/icons/arrow/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  &.opened {
    transform: rotate(270deg);

  }

}
.color-select-selected {
  min-width: 32px;
  min-height: 32px;
  border-radius: 3px;
}

.color-list {
  position: absolute;
  top: 0;
  right: 0;
  min-height: 100px;
  min-width: 100px;
  background: #ffffff;
  width: 276px;
  height: 304px;
  box-shadow: $boxShadow;
  border-radius: 6px;
  padding: 40px 0px 4px 4px;

  display: flex;
  .list-area {
    height: 100%;
    width: 100%;
    overflow: auto;
    display: flex;
    padding-right: 4px;
    .pallet-list {
      display: flex;
      flex-direction: column;
      flex: 1;
      .color-box {
        cursor: pointer;
        //&.selected {
        //  box-shadow: -1px -1px 2px 1px;
        //}
      }
    }
  }

}


