<div class="tools">
  <app-management-tool
    [activeViewMode]="viewMode"
    (viewMode)="setViewMode($event)"
    (toggleUserMenu)="toggleUserMenu()"
  ></app-management-tool>
</div>

<div class="filter-input">
  <div class="icon find"></div>
  <app-input
    [id]="'filter-input'"
    [placeholder]="'Find by name...'"
    [debounceTimeMs]="300"
    (inputValue)="setFilterInputValue($event)"
  ></app-input>
</div>

<div class="data-list">
  <ng-container [ngSwitch]="viewMode">
    <ng-container *ngSwitchCase="'table'" [ngTemplateOutlet]="table"></ng-container>
    <ng-container *ngSwitchCase="'tile'" [ngTemplateOutlet]="tile"></ng-container>
  </ng-container>

  <ng-template #table>
    <app-table [itemList]="itemList" [headers]="headers"></app-table>
  </ng-template>

  <ng-template #tile>
    <app-tile [itemList]="itemList"></app-tile>
  </ng-template>
</div>

<div class="paginator">
  <app-paginator [length]="itemListPreFilter.length" [pageSize]="1" [pageSizeOptions]="[1, 5, 10, 15]" (range)="filterByRange($event)"></app-paginator>
</div>

<div *ngIf="isShowSideBar" class="side-bar">
  <app-sidebar></app-sidebar>
</div>
