:host {
  width: 100%;
  height: 100%;
  .tools {
    margin-bottom: 20px;
  }
  .filter-input {
    margin-bottom: 25px;
    position: relative;
    .icon.find {
      z-index: 1;
      position: absolute;
      height: 28px;
      width: 28px;
      left: 12px;
      top: 50%;
      transform: translate(0, -50%);
      background: url("../../../../../assets/icons/find/find.svg");
    }
    ::ng-deep {
      app-input {
        height: 66px;
        font-size: 18px;
        input {
          padding-left: 52px;
        }
      }
    }
  }
  .data-list {
    //height: calc(100% - 120px);
    //height: calc(100% - 156px);
    height: calc(100% - 216px);
  }
  .paginator {
    height: 60px;
    display: flex;
    align-items: center;
      justify-content: center;
  }
}

::ng-deep {
  app-table {
    .data-cell {
      & > .color {
        margin-left: 20px;
        border-radius: 4px;
        width: 24px;
        height: 24px;
      }
    }
    .th-td_0 {
      min-width: 64px !important;
      max-width: 10% !important;
    }

    .th-td_1 {
      min-width: 40% !important;
    }

    .th-td_2 {
      min-width: 15% !important;
    }

    .th-td_3 {
      min-width: 15% !important;
    }

    .th-td_4 {
      min-width: 15% !important;
    }
  }
}
