:host {
  display: flex;
  justify-content: space-between;
  height: 42px;

  .header {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #0e4f6e;
  }
  .tools {
    display: flex;
    align-items: center;
  }
}

.btn {
  margin-right: 24px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
  &.table {
    width: 24px;
    height: 22px;
    background: url("./../../../../assets/icons/table-icon/table-icon-def.svg");
    &.active {
      background: url("./../../../../assets/icons/table-icon/table-icon-active.svg");
    }
    &:hover {
      background: url("./../../../../assets/icons/table-icon/table-icon-hover.svg");
    }
  }
  &.tile {
    width: 24px;
    height: 22px;
    background: url("./../../../../assets/icons/tile/tile_def.svg");
    &.active {
      background: url("./../../../../assets/icons/tile/tile_active.svg");
    }
    &:hover {
      background: url("./../../../../assets/icons/tile/tile_hover.svg");
    }
  }
  &.new {
    align-self: flex-start;
    width: 42px;
    height: 50px;
    background-position-x: -9px !important;
    background-position-y: -6px !important;
    background: url("./../../../../assets/icons/create-new/create-new-def.svg");
    &:hover {
      background: url("./../../../../assets/icons/create-new/create-new-hover.svg");
    }
  }
}
