<div class="header">
  Management Tool
</div>
<div class="tools">
  <div [class.active]="activeViewMode === 'table'" (click)="setViewType('table')" class="btn table"> </div>
  <div [class.active]="activeViewMode === 'tile'" (click)="setViewType('tile')" class="btn tile"> </div>
  <div (click)="toggleUserMenu.next()" class="btn new"></div>
</div>

